/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    font-family: 'Roboto', sans-serif;
}

h1, h2, h3, h4, h5 {
    font-size: 18px;
    margin-bottom: 15px;
    font-family: 'Rubik', sans-serif;
}

p {
    line-height: 1.4;
}
.abouttopnav{
    border: 2px solid blue;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}
.topnav .home{
    color: black;
    padding: 2%;
    display: flex;
    justify-content: center;
    transition: 2s;
}
.topnav .home:hover{
    background-color: seagreen;
    color: seashell;
}
.topnav .aboutn{
    color: black;
    padding: 2%;
    display: flex;
    justify-content: center;
    transition: 2s;
}
.topnav .aboutn:hover{
    background-color: palevioletred;
    color: peachpuff;
}
.topnav .products{
    color: black;
    padding: 2%;
    display: flex;
    justify-content: center;
    transition: 2s;
}
.topnav .products:hover{
    background-color: teal;
    color: thistle;
}
.topnav .blog{
    color: black;
    padding: 2%;
    display: flex;
    justify-content: center;
    transition: 2s;
}
.topnav .blog:hover{
    background-color: darkorchid;
    color: darksalmon;
}
.topnav .contact{
    border: 2px solid blue;
    color: black;
    padding: 2%;
    display: flex;
    justify-content: center;
    transition: 2s;
}
.topnav .contact:hover{
    background-color: hotpink;
    color: honeydew;
}
.aboutimg{
    border: 2px solid green;
    width:100%;
    margin:20px;
    display: flex;
    justify-content: center;
}
.about {
    border:3 px solid red;
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-content: row;
    flex-wrap: wrap;
}
.about .aboutimg{
    height: 200px;
    width: 100%;
}
.about .aboutp{
    /*border: 3 px solid goldenrod;*/
    padding: 2%;
    border-bottom: 1px dashed black;
}
.strategy-how{
    margin: 15px;
    max-height: 50%;
    max-width: 100%;
    background color: white;
}
.strategy-how .row{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    height: 50%;
}
.strategy-office .double-column{
    border: 3px solid slategray;
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    flex: 2;
}
.strategy-office .blue-column{
    border: 3px solid blue;
    background-color: bisque;
    height: 100%;
    width: 50%;
    padding: 2%;
    border-bottom: 1px dashed black;
}
.strategy-office .green-column{
    /*border: 3px solid green;*/
    background-color: gainsboro;
    height:100%;
    width:50%;
    padding: 2%;
    border-bottom: 1px dashed black;
}
.strategy-office .purple-column{
    border: 3px solid purple;
    background-color: plum;
    height: 100%;
    width: 50%;
    padding: 2%;
    border-bottom: 1px dashed black;
}
.strategy-office .pink-column{
    border: 3px solid hotpink;
    background-color: peachpuff;
    height: 100%;
    width: 50%;
    /*xgfvBBBBBBBBBBBBBBBBBBBV                         23align-self: flex-end;*/
    padding: 2%;
    border-bottom: 1px dashed black;
}